<!DOCTYPE html>
<html>
<head>
    <title>Uso de etiquetas semánticas y clases</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="miestilo.css">
</head>
<body>
    <header>
        <img src="C:\Users\sebao\OneDrive\Escritorio\TD\ada_logo.png" alt="Logo de ADA" class="logo">
        <h1>Bienvenido a ADA</h1>
        <p>¡Solucionando necesidades logísticas desde 2018!</p>
    </header>

    <nav>
        <ul>
            <li><a href="https://adalogistica.com/">Inicio</a></li>
            <li><a href="https://adalogistica.com/empresa/">Empresa</a></li>
            <li><a href="https://adalogistica.com/servicios/">Servicios</a></li>
            <li><a href="https://adalogistica.com/recursos/">Recursos</a></li>
            <li><a href="https://adalogistica.com/cobertura/">Frecuencias</a></li>
            <li><a href="https://adalogistica.com/consultas/">Consultas</a></li>
        </ul>
    </nav>

    <section>
        <div class="estilo-parrafo">
            <p>En ADA nos dedicamos a solucionar necesidades logísticas, brindando servicios en las provincias del Nordeste Argentino, potenciando los volúmenes de venta en la región, y ofreciendo nuestro servicio de transporte integral, cumpliendo con las exigencias de cada cliente.</p>
        </div>
        <p>Lo difícil lo hacemos en el acto, lo imposible tardamos un poco más.</p>
        <img src="C:\Users\sebao\OneDrive\Escritorio\TD\camion_ada.png" alt="Otra imagen" class="otra-imagen">
    </section>

    <footer>
        <div class="footer-content">
            <p>Derechos de autor &copy; 2018 ADA. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>